body {
  font-family: "Helvetica", "Arial", sans-serif;
  color: #444444;
  font-size: 16px;
  background-color: #fafafa;
}

.wrapper {
  padding-top: 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading {
  margin: 0;
  font-size: 3rem;
  text-align: center;
}

.todo-list {
  width: 420px;
}

.todo-list-input-wrapper {
  height: 60px;
  border: 1px solid blue;
}

.todo-list-input-wrapper input {
  width: 100%;
  height: 100%;
  border: none;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.todo-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todo-list li {
  margin: 0;
  padding: 0;

  margin-top: 4px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  box-sizing: border-box;
}

.done span {
  text-decoration: line-through;
}

.delete-task {
  margin: 0;
  padding: 0;
  border: 1px solid orange;
  background-color: transparent;
  padding: 0.25rem;
  box-sizing: border-box;
}

li.hidden-list-item {
  display: none;
}

.filter-bar {
  margin-top: 0.5rem;
  text-align: center;
}

.filter-bar button {
  border: 1px solid green;
  background-color: transparent;
}
